<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        604 - Powered by Bamboocat CMS X1
    </title>

    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.css" rel="stylesheet">
    

    <!-- theme stylesheet -->  
    
    <!-- your stylesheet with modifications -->
    <link href="static/css/custom.css" rel="stylesheet">


    <script src="static/js/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../static/themes/default/favicon.png">
    <script></script>
</head>

<body>
    <div id="top">
    <!--shopping-list-->
        <div class="shopping-list col-md-12" style="display: none;">
            <div class="shopping-list-item col-md-10">
                <div class="shopping-item-card col-md-2">
                    <img src="img/item.jpg">
                    <div class="item-card-info">
                        <span class="price">NT$1,139</span>
                        <span class="quantity">數量:1</span>
                    </div> 
                </div>

                <div class="shopping-item-card col-md-2">
                    <img src="img/item.jpg">
                    <div class="item-card-info">
                        <span class="price">NT$1,139</span>
                        <span class="quantity">數量:1</span>
                    </div> 
                </div>

                <div class="shopping-item-card col-md-2">
                    <img src="img/item.jpg">
                    <div class="item-card-info">
                        <span class="price">NT$1,139</span>
                        <span class="quantity">數量:1</span>
                    </div> 
                </div>
            </div>

            <div class="shopping-list-button col-md-2">
                <button class="check-shppingcart" onclick="javascript:location.href='cart.html'">查看購物車</button>
                <button class="order" onclick="javascript:location.href='go-order.html'">前往結帳</button>
            </div>
        </div>

        <div class="container top-header" >   
            <div class="header col-md-12 col-xs-12" style="height: 25px;">
                <ul class="menu">
                    <li><a href="login-registered.html">登入</a></li>
                    <li><a href="login-registered.html">註冊</a></li>
                    <li><a href="member.html">會員中心</a></li>
                </ul>
              
                <div id="search_form" class="col-sm-8">
                    <span style="padding: 15px;">熱門搜尋:<a href="#">乾洗髮</a></span>
                        <form style="float: left;width: auto" id="search-header" action="/product/product" class="navbar-form pull-right" method="get" accept-charset="utf-8">
                            <input value="" name="s" placeholder="SEARCH" class="search-form_it" type="text">
                            <i class="fa fa-search" aria-hidden="true" style="position: absolute;right: 14%;top: 33%;"></i>
                        </form>
                </div>
            </div>         
            <div class="col-md-6 col-xs-6" data-animate="fadeInDown">               
                    <!-- BEGIN LOGO -->
                <a href="index_v3.html">
                    <div class="logo pull-left" style="color: #87aceb;">
                        <h2>604 貿易有限公司</h2>
                    </div>
                </a>
                    <!-- END LOGO -->           
            </div>  
            <div class="col-md-offset-3 col-md-3 col-xs-6" data-animate="fadeInDown" id="sign">        
                <div class="shopping-cart col-sm-6 col-md-offset-6">
                    <i class="fa fa-shopping-cart" style="padding:0px 10px;font-size: 200%;"></i>
                    <span id="id_top_shopping_car_amount" style="font-size:16px;">0</span>個商品
                </div>
            </div>  
        </div>  
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
                <div class="container bar">
                    <div class="navbar-header" style="width:100%;">
                        <div class="collapse navbar-collapse" style="width: 100%;padding: 0px;">
                            <ul class="nav navbar-nav" style="width: 100%;">
                                <li class="active" style="display: block; width: 5%;" id="logo">
                                    <a data-toggle="tab" href="#home" style="color: cornflowerblue;font-size: 20px;">604</a></li>
                                <li class="active"><a href="product-list.html">所有產品</a></li>
                                <li class="active"><a href="product-list.html">熱門產品</a></li>
                                <li class="active"><a href="product-list.html">限時特價</a></li>
                                <li class="active"><a href="product-list.html">乾洗髮</a></li>
                                <li class="active"><a href="product-list.html">底妝</a></li>
                                <li class="active"><a href="product-list.html">彩妝</a></li>
                                <li class="active"><a href="product-list.html">保養</a></li>
                                <li class="active"><a href="product-list.html">美甲</a></li>
                                <li class="active"><a href="product-list.html">彩妝工具</a></li>
                                <li class="active"><a href="product-list.html">生活小物</a></li>
                                <li class="active" style="display: block; width: 5%;" id="shopping">
                                <a data-toggle="tab" href="#menu2" style="padding: 13px;"><i class="fa fa-shopping-cart" style="font-size: 160%;"></i></a></li>
                            </ul>
                        </div>

                        
                    </div>
                </div>
        </div>

        <div class="navbar navbar-default yamm" role="navigation" id="navbar-mobile" >
                        <div class="container">                             
                            <div class="navbar-header" style="width:100%;">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> 
                                </button>
                                <h3 class="logo pull-left" id="mobile-logo" style="color: white;">604</h3>
                                <div class="mobile-menu hidden-sm hidden-md hidden-lg" id="myNavbar">
                                        <ul class="nav m_navbar-nav" style="width: 100%;">
                                        <li class="m_active"><a href="product-list.html">登入</a></li>
                                        <li class="m_active"><a href="product-list.html">所有產品</a></li>
                                        <li class="m_active"><a href="product-list.html">熱門產品</a></li>
                                        <li class="m_active"><a href="product-list.html">限時特價</a></li>
                                        <li class="m_active"><a href="product-list.html">乾洗髮</a></li>
                                        <li class="m_active"><a href="product-list.html">底妝</a></li>
                                        <li class="m_active"><a href="product-list.html">彩妝</a></li>
                                        <li class="m_active"><a href="product-list.html">保養</a></li>
                                        <li class="m_active"><a href="product-list.html">美甲</a></li>
                                        <li class="m_active"><a href="product-list.html">彩妝工具</a></li>
                                        <li class="m_active"><a href="product-list.html">生活小物</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
        </div>

            </div>
            </div>
            
    </div>        
    


    <div class="container" id="all">
    <!-- MAIN SLIDER -->
        <div class="member-center col-md-12 col-xs-12">              
            <div class="page-title col-md-12 col-xs-12">退換貨說明</div>
            <div class="returns returns col-md-12 col-xs-12">
                <h4 style="font-weight: bold;">
                604 貿易都會檢查無誤之後為您出貨，但偶而有疏忽或是物流配送時碰撞的狀況還請見諒；若收到商品不符瑕疵品，請於 7 天內撥打客服電話反應，請務必期限內告知，逾期 604 貿易將不受理唷。</h4>
                <h3 style="font-weight: bold;">退換貨說明：<span style="color: red;">若需退換貨服務，請仔細閱讀以下說明</span></h3>
                <p><span style="font-size: 12pt;">1. 收到商品後如發現有瑕疵或破損或是配件短缺的狀況，請先與 604 客服聯絡換貨相關事宜，我們將盡速為您處理。</span></p>
                <p><span style="font-size: 12pt;">PS. 因個人因素退貨或換貨，需自付來回運費，如有退換貨相關問題可電洽客服 (02)2648-0604</span></p>
                <p><span style="font-size: 12pt;">2.&nbsp;</span><span style="font-size: 12pt;">彩妝品、指甲油等賣場內所有商品圖片與色彩對照表皆為參考，不同銀幕色差也不同，不接受因為色差問題而換貨； 604 貿易盡心保持您商品的完整與品質，收到的商品若與您預想的模樣有差異，只能請您見諒，無法以此理由為您更換商品。</span></p>
                <p><span style="font-size: 12pt;">3.&nbsp;</span><span style="font-size: 12pt;">收到商品後可享有 7 天免費鑑賞期(含假日)，鑑賞期係供您參考、觀賞、品鑑比較(非試用)。退換貨（依照退貨程序辦理退貨）時敬請保持原包裝商品的完整，我們完全保障您的購物權益。</span></p>
                <p><span style="font-size: 12pt;">4.&nbsp;</span><span style="font-size: 12pt;">退換貨注意事項：退貨的商品必須必須回復原狀，亦即必須回復至您收到商品時的原始狀態 ( 包含商品、附件、內外包裝、贈品、活動贈品等 )</span></p>
                <p><span style="font-size: 12pt;">5.&nbsp;</span><span style="font-size: 12pt;">下列情形可能影響您的退貨權限：</span></p>
                <p><span style="font-size: 12pt;">-在不影響您檢查商品情形下，您將商品包裝毀損、封條移除、吊牌拆除、貼膠移除或標籤拆除等情形</span></p>
                <p><span style="font-size: 12pt;">-在您收到商品之前，已提供您檢查商品之機會。</span></p>
                <p><span style="font-size: 12pt;">-其他逾越檢查之必要或可歸責於您之事由，致商品有毀損、滅失或變更者。</span></p>
                <p><span style="font-size: 12pt;">6.&nbsp;</span><span style="font-size: 12pt;">若您已取得紙本發票，請於退貨時一併退還。</span></p>
                <p><span style="font-size: 12pt;">7.&nbsp;</span><span style="font-size: 12pt;">請您以送貨廠商使用之包裝紙箱將退貨商品包裝妥當，若原紙箱已遺失，請另使用其他紙箱包覆於商品原廠包裝之外，切勿直接於原廠包裝上黏貼紙張或書寫文字。若原廠包裝損毀將無法退貨或須將損壞費用於退款中扣抵。</span></p>
                <p><span style="font-size: 12pt;">8.&nbsp;</span><span style="font-size: 12pt;">當您申請退換貨後，請主動向貨運人員索取單據，並保留至退換貨完成，以利日後查詢。</span></p>
            </div>


            </div> 

            </div>
        </div>


        
        <hr>
    </div>

        
        <div class="col-md-12 col-xs-12" style="margin: 30px 0px; border-top: 1px solid #eee;">
                <div class="container row">
                    <div class="info col-md-4 col-sm-4 col-xs-4">
                        <h4>專人服務</h4>

                        <ul>
                            <li><a href="/page/about">專人服務</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="info col-md-4 col-sm-4 col-xs-4">

                        <h4>粉絲專頁</h4>
                            <p class="social">
                            <a href="https://www.facebook/pages/{{index .Options "Facebook"}}" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/{{index .Options "Twitter"}}" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/{{index .Options "Instagram"}}" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="https://plus.google.com/{{index .Options "GooglePlus"}}" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="mailto:{{index .Options "Email"}}" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>
                        </ul>
                    </div>
                    <div class="info col-md-4 col-sm-4 col-xs-4">
                        <h4>客戶服務</h4>
                        


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

    </div>
    </div>   

    
    
            <!-- /.container -->
    </div>

    <div id="copyright col-md-12 col-xs-12" style="background-color:#ececec;">
            <div class="container col-md-12 col-xs-12" style="background-color:  #ececec;margin-bottom: 0px; padding: 5px;">
                <div class="col-md-6 col-xs-6">
                    <p class="pull-left">© 2017 {{index .Options "Website"}}.</p>

                </div>
                <div class="col-md-6 col-xs-6">
                    <p class="pull-right">Powered by  <a href="https://www.bamboocat.com">Bamboocat CMS</a>  X1
                    </p>
                </div>
            </div>
    </div>

    <div id="id_fixed_right_bottom">
        <div class="scroll_top_button" onclick="to_scroll_top()">
            <div class="this_icon"><i class="fa fa-chevron-up"></i></div>
        </div>
    </div>


    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/bootstrap-hover-dropdown.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/front.js"></script>
</body>


</html>